body {
  height: 100%;
  margin: 0;
  width: 100%;
  overflow: hidden;
}

#graphiql {
  height: 100vh;
}

.graphiql-container,
.CodeMirror-info,
.CodeMirror-lint-tooltip,
reach-portal {
  /* font family overrides */
  --font-family: var(--vscode-editor-font-family);
  --font-family-mono: var(--vscode-editor-font-family);

  /* font size overrides */
  --font-size-hint: var(--vscode-editor-font-size);
  --font-size-inline-code: var(--vscode-editor-font-size);
  --font-size-body: var(--vscode-editor-font-size);
}

.graphiql-container .graphiql-editor-tools button.active {
  background: hsla(var(--color-neutral), 0.15);
}
